 #container{
            background-image: url(../images/mobile-banner1.jpg);
            width:100%;
            height: 472px;
            font-size: 55px;
            color:#ffffff;
            margin-top: 3%;
            }

            #textholder{
            	padding-top: 10%;
            	margin-left:7%;
            	/*background-color: blue;*/
            	width:45%;
            }

            .footer{
            	background-color:#084885;
            	height:130px;

            }

            .navbar-default{
            	background-color:#084885;

            }

            .navbar .nav > li > a {
   
    		color:  #ffffff;
    }