<!DOCTYPE html>
<html>
<head>
  <title>PollAfrique</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css" />
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
  </head>
  <body style=" background-color:#ddd;">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:#ffffff;">PollAfrique</a>
        </div>
        <div class="navbar-collapse collapse">

          
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="../navbar-static-top/"><b>PollAfrique@eml.cc</b></a></li>
            <li class=""s><a href=""><b>+ 233 (0) 57 415 1914</b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div id = "container">
      <div id="textholder"><h1><h1><small>Do you have views to share ?</small></br><span style="color:#084885">PollAfrique</span> offers you the opportunity<h1><h1>to participate in paid surveys via SMS.</h1></h1>
        
  <!-- /.col-lg-6 -->
<div class="row">
  <div class="col-lg-8">

    <form method="POST" action="/"  class="form">
    <div class="input-group">
      <input type="text" class="form-control" id= "participate_btn" name = "participate" placeholder="Get started with your phone number..." required>
      <span class="input-group-btn" >
        <input class="btn btn-success" id="success_btn" type="submit" value = "Try it for Free!" data-complete-text="finished!"></input>
        <div class="success_message"></div>
      </span>

    </div>
    <div class="alert alert-success" id="success_msg" style="display:none;">
    <!-- <a class="close" href="#" aria-hidden="true">×</a> -->
    <span>You've successfully registered your number! We'll keep in touch</span>
  </div>
  

    <!-- /input-group -->

  </form>
  </div><!-- /.col-lg-6 -->

</div><!-- /.row -->

      </div>
      <!-- <small>Subtext for header</small> -->
      
      <!-- <p><em>PollAfrique</em> offers you the opportunity</br> to participate in paid surveys via SMS.</p> -->
    </div>
    <div class="row" style="margin-left:5%; margin-bottom:5%;">
        <div class="col-lg-4">

          

          <h2>Create SMS Surveys</h2>
                    <p><em>PollAfrique</em> allows you to conduct primary research in three simple steps: </br>
                     <p>
                       &bull;&nbsp;&nbsp;Sign up as a researcher</br>
                       &bull;&nbsp;&nbsp;Create quick surveys</br> 
                       &bull;&nbsp;&nbsp;Filter your target on specific criteria and send
                     </p>
                   </p>
        </div>
        <div class="col-lg-4">
          <h2>Take SMS Surveys</h2>
                  <p><em>PollAfrique</em> allows you to participate in surveys:</br>
                   <p>
                    &bull;&nbsp;&nbsp;Create a respondent account</br>
                    &bull;&nbsp;&nbsp;Activate profile sent via SMS</br> 
                    &bull;&nbsp;&nbsp;Start taking incentivized surveys
                  </p>
                </p>
          <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
       </div>
        <div class="col-lg-4">
          <h2>Product Offerings</h2>
          <p><em>PollAfrique</em> facilitates value-added research with:</br>
                   <p>
                    • Cost-effective surveys</br>
• Relevant target selection</br>
• Improved response rate</br>
• Detailed real-time analytics</br>
• Dynamically generated reports

                  </p>
                </p>
        </div>
      </div>
  
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
          <ul class="nav navbar-nav" >
            <li class=""><a href="#" style="color:#ffffff;">&copy; 2013 PollAfrique</a></li>
            <li><a href="#privacy" style="color:#ffffff;">Privacy</a></li>
            <li><a href="#terms" style="color:#ffffff;">Terms Of Use</a></li>      
          </ul>
          
          <ul class="" style="margin-top:1.2%; margin-right:3%; float:right;">
            
            <li>
              <a href="http://www.facebook.com/pollafrique"><img src="images/facebook-square.gif"  alt=""></a>
               <a href="http://www.twitter.com/poll_afrique"><img src="images/twitter-square.gif" alt=""></a>
              <img src="images/linkedin-square.gif" alt="">
            </li>
           
          </ul>
          
        <!--/.nav-collapse -->
</nav>

    
  </body>

  <script type="text/javascript">
 
$( "#success_btn" ).click(function() {
  var participate = $('#participate_btn').value;
  if (participate != "") {
    $( "#success_msg" ).show( "slow" );
  }
  else{

     return false;
  };
  
});
</script>
 
</html>
